.title__1{
    font-size: 34px;
    font-weight: 600;
}

.contacts{
    padding: 90px 0;
    text-align: center;
}

.contacts__title{
    margin: 0 0 40px 0;
}

.contacts__content{
    max-width: 480px;
    margin: 0 auto 40px;
    font-size: 18px;
}

.contacts__content p + p{
    margin: 1em 0 0 0;
}

.contacts__button{
    margin: 0 0 80px 0;
}

.btn{
    display: inline-block;
    background-color: #070707;
    padding: 7px 22px;
    border-radius: 30px;
    font-size: 18px;
    color: #fff;
}

.contacts__social{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
    margin: 0 0 40px 0;
}

.contacts__footer{
    color: #828282;
}

@media (max-width: 700px){
    .contacts{
        padding: 60px 0;
    }

    .contacts__title {
        margin: 0 0 20px 0;
    }

    .contacts__content{
        margin: 0 0 20px 0;
    }

    .contacts__button{
        margin: 0 0 70px 0;
    }

    .contacts__social{
        column-gap: 50px;
        margin: 0 0 20px 0;
    }
}
