body{
    font-family: 'Poppins', sans-serif;
    color: black;
}

.header{
    padding: 46px 0 0 0;
    background: #F1F1F1;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 0 76px 0;
}

.header__logo{
    position: relative;
    padding: 0 12px 3px 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
    color: black;
}

.header__logo::after{
    position: absolute;
    right: 0;
    bottom: 0;
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background-color: #FDA300;
    border-radius: 50%;
}

.nav__list{
    display: flex;
    column-gap: 50px;
    font-weight: 500;
    font-size: 14px;
}

.nav__button{
    display: none;
}

.nav__link{
     color: black;
}

.nav__link.active{
    color: #606060;
}

.header__row{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.header__content{
    margin: 124px 0 0 0;
    max-width: 500px;
}

.header__heaing{
    margin: 0 0 20px 0;
    font-weight: 600;
    font-size: 44px;
}

.header__content p{
    line-height: 2;
}

@media (max-width: 1230px){
    .nav__list{
        display: none;
    }
    
    .nav__button{
        display: block;
    }
    .nav.open .nav__list {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #FFF;
        padding: 46px 30px;
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        font-size: 34px;
        font-weight: 600;
    }

    .nav__link {
        color: #828282;
    }

    .nav__link.active {
        color: black;
    }

    .nav__button {
        position: absolute;
        z-index: 9;
        top: 46px;
        right: 30px;
    }

    .header__nav {
        margin: 0 0 50px 0;
    }

    .header__row{
        flex-direction: column;
        row-gap: 20px;
    }

    .header__content {
        margin-top: 0;
    }

    .header__img{
        text-align: center;
    }
}

@media (max-width: 700px){
    .header__heaing {
        font-size: 34px;
        line-height: 1.3;
    }

    .header__heaing span {
        font-size: 28px;
    }
}